.idea*/
.DS_Store/
__pycache__

# ignore all directories starting with venv or .venv
venv*/
.venv*/

# ignore all settings (.ini) files but not settings_defaults.ini
cassis_lte_python/config*.ini
cassis_lte_python/settings*.ini
!cassis_lte_python/settings_defaults.ini

# ignore the generated documentation (will be generated automatically on gitlab)
docs/build
docs/logs
# NB: logs should not exist (turn off FILE_LOGGER for the generation of the documentation)

# ignore all logs and outputs
logs/
**/*logs*
tests/outputs/
**/linelist.txt
**/*results*

# to ignore personal files and directories :
# > git config --local core.excludesFile .mygitignore
# create and edit .mygitignore
# add .mygitignore to itself and any personal files and directories