.idea*/
.DS_Store/
__pycache__

# ignore all directories starting with venv
venv*/

# ignore all config (.ini) files but not config_defaults.ini
cassis_lte_python/config*.ini
!cassis_lte_python/config_defaults.ini

# ignore the generated documentation (will be generated automatically on gitlab)
docs/build
docs/logs
# NB: logs should not exist (turn off FILE_LOGGER for the generation of the documentation)

# to ignore personal files and directories :
# > git config --local core.excludesFile .mygitignore
# create and edit .mygitignore
# add .mygitignore to itself and any personal files and directories